In [1]:
# Display the text "Hello World"

"Hello World"

'Hello World'

In [2]:
# Add 2 numbers together

2+3

5

In [3]:
# Subtract a number from another number

5-3

2

In [4]:
# Multiply two numbers

5*3

15

In [5]:
# Divide between two numbers

6/3

2.0

In [6]:
# Concatenate two strings together

first_name = "Olufemi"
last_name = "Obembe"
last_name = first_name + " "+last_name

In [7]:
last_name

'Olufemi Obembe'

In [8]:
# Create a list of 4 items

firstnames = ["Mike","John","Sha","Stephen"]
print(firstnames)

['Mike', 'John', 'Sha', 'Stephen']

In [9]:
#Append an item to the list

firstnames.append("James")
print(firstnames)

['Mike', 'John', 'Sha', 'Stephen', 'James']

In [10]:
# Create a tuple with 4 items

cities = ("Atlanta","Omaha","Papillion","Lewiston")
print(cities)

('Atlanta', 'Omaha', 'Papillion', 'Lewiston')